.hero-container {
  width: 100%;
  background-color: #0371b4;
  background-size: cover;
  padding: 50px 0 100px 0;
  text-shadow: #84898F 0 1px 1px;

}
.hero-container h1 {
  color: #fff;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 53px;
  text-shadow: #84898F 0 1px 1px;
  margin: 0;
}
.hero-container h3 {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 53px;
  text-shadow: #84898F 0 1px 1px;
  margin: 0;
}
.hero-container p {
  font-size: 28px;
  color: #fff;
  text-shadow: #84898F 0 1px 1px;
  margin: 25px 0;
  width: 50%;
}
.hero-container a {
  display: inline-block;
  padding: 15px 25px;
  color: #fff;
  font-size: 20px;
  border: 1px solid #fff;;
  border-radius: 5px;
  text-decoration: none;
  text-shadow: #84898F 0 1px 2px;
  transition: all 200ms ease-out;
}
.hero-container a:hover {
  background-color: #fff;
  color: #20415B;
}
@media only screen and (max-width: 800px) {
  .hero-container {
    padding-top: 20px;
    height: 500px;
  }
  .hero-container h1 {
    font-size: 36px;
    line-height: 36px;
  }
}


.hero-messaging {
  color: #20415B;
  width: 100%;
  background-color: #fff;
  padding: 40px 0 60px 0;
  z-index: 1;
}

/* optional headline */
.hero-messaging h1 {
  font-size: 46px;
  line-height: 46px;
  margin-bottom: 40px;
}

.hero-right-image .image {
  float: right;
}
.hero-left-image .image {
  float: left;
}
.hero-right-image .text {
  float: left;
  text-align: right;
}
.hero-left-image .text {
  float: right;
}


.hero-messaging .image {
  width: 445px;
  height: 290px;
  background-size: cover;
  border-radius: 5px;
}

.hero-messaging .text {
  margin-top: 20px;
  padding: 5px 50px;
  width: 745px;
  padding-left: 90px;
}

.hero-messaging .text h3 {
  font-size: 42px;
  line-height: 46px;
  font-weight: 100;
  margin: 10px 0 0 0;
}

.hero-messaging .text p {
  font-size: 20px;
  line-height: 24px;
}

@media only screen and (max-width: 1225px) {
  .hero-messaging {
    padding-top: 20px;
  }
  .hero-messaging  h1 {
    font-size: 36px;
    line-height: 36px;
  }

  .hero-messaging .image {
    width: 100%;
    float: none;
  }

  .hero-messaging .text {
    width: 100%;
    margin-top: 30px;
    padding: 2%;
    float: none;
  }
}
